<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>360192011299-dq90rhpi7btsotp27eutpik7irgoqqvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360192011299-dq90rhpi7btsotp27eutpik7irgoqqvj</string>
	<key>API_KEY</key>
	<string>AIzaSyD1v5wPYl47IKBA9tpQCTDNLYF3Ld-_Y10</string>
	<key>GCM_SENDER_ID</key>
	<string>360192011299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leftyseth.fitchike</string>
	<key>PROJECT_ID</key>
	<string>mashype-fitchike</string>
	<key>STORAGE_BUCKET</key>
	<string>mashype-fitchike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360192011299:ios:decec34efff2833d</string>
	<key>DATABASE_URL</key>
	<string>https://mashype-fitchike.firebaseio.com</string>
</dict>
</plist>